# faster-whisper-server v1 (fedirz/faster-whisper-server)
V1_PORT=8484
V1_MODEL=kotoba-tech/kotoba-whisper-v1.0

# faster-whisper-server v2 (speaches-ai/speaches)
V2_PORT=80
V2_MODEL=kotoba-tech/kotoba-whisper-v2.0-faster
